<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <!-- mybatis db 연결정보 세팅 파일 -->
<configuration>
<!-- mybatis.MemberDTO  : memberdto -->
<typeAliases>
	<typeAlias type="board.spring.mybatis.MemberDTO" alias="memberdto"/>
	<typeAlias type="board.spring.mybatis.BoardDTO" alias="boarddto"/>
</typeAliases>


</configuration>




