@charset "UTF-8";
 @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap');
        body {
            margin: 0;
            /*font-family : 'gulim', 'gothic';*/
            position: relative;
        }
        .header {
            position: relative;
            top: 0px;
            width: 100%;
            height: 6vh;
            background-color: white;
            /*border: 1px solid black;*/
        }
        .header2 {
            position: relative;
            display: flex;
         
            flex-wrap: nowrap;
            top: 0px;
            width: 100%;
            height: 12vh;
            background-color: white;
            border-bottom : 2px solid #405b7c; 
            /* border: 1px solid black; */
        }
        .header .nav {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            top: 0px;
            margin: 0px auto;
            width: 70%;
            background-color:white;
            height: 100%;
            /*border: 1px solid black;*/
        }
        .header2 .nav2 {
            position: relative;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
           	justify-content: center; 
           	
            top: 0px;
            margin: 0px auto;
            width: 750px;
            padding-bottom: 10px;
           /*  background-color:white; */
         	height: 100%;
           /*  border: 1px solid black; */
        }
        .header .nav .logo {
            position: relative;
            align-items: center;
            float: left;
            font-weight: 500;
            background-color: white;
            width: 180px;
            justify-content: space-between;
            /*height: 100%;*/
            /*border: 1px solid black;*/
            cursor: pointer;
        }
        .header .nav .logo a {
            text-decoration: none;
            color: black;
            font-size: 14pt;
        }
        .header .nav .logo a:hover {
            /*text-decoration: none;*/
            color: royalblue;
            /*font-size: 14pt;*/
        }
        .header .nav .menu {
            position: relative;
            align-items: center;
            text-align: right;
            display: flex;
            justify-content: right;
            background-color: white;
            width: 50%;
            /*height: 100%;*/
            /*border: 1px solid black;*/
            cursor: pointer;
        }
        .header .nav .menu .menu1 {
            position: relative;
            align-items: center;
            float: left;
            background-color: white;
            width: 200px;
            /*height: 100%;*/
            /*border: 1px solid black;*/
            cursor: pointer;
        }
        .a1 {
            text-decoration: none;
            color: black;
        }
        .a1:hover {
            color: royalblue;
        }
        .header2 .nav2  .logo{
       
        	width: 30%;
        }
        .header2 .nav2  .logo img{
        	width: 200px;
        	height: 60px;
        }
        .header2 .nav2 .menu{
        	width:600px;
        	/* height:100%; */
        	height: 40px;
        	position:relative;
        	display:flex;
        	flex-wrap: nowrap;
       		/* border : 1px solid red; */
        	 margin:0;
        	 padding:0 0 0 40px;
        	align-items: stretch;
        	text-align: center;
        }
       
         .header2 .nav2 .menu input[type=text]{
         	position : relative;
         	flex-wrap: nowrap;
         	width:250px;
         	height: 36px;
         	border: 2px solid #405b7c;
         	padding: 0 3px 0 3px;
         	margin: 0 0 0 0;
         	
         }
          .header2 .nav2 .menu #search_select{
          flex-wrap: nowrap;
          	position : relative;
          	border: 2px solid #405b7c;
          	border-right-style:none;
          	border-radius: 5px 0 0 5px;
          	width: 55px;
           	height: 40px;
			left:4px;
			top: 0.3px;
          	cursor: pointer;
          }
         .header2 .nav2 .menu button[type=submit] {
         flex-wrap: nowrap;
            position: relative;
            width: 55px;
            height: 40px;
   			border: 2px solid #405b7c;
         	margin: 0;
         	border-radius:  0 5px 5px 0;
         	right:5px;
         	bottom:0.3px;
      		/*  align-items: center;
            justify-content: center;  */
         	background: #405b7c;
            color:white;
            cursor: pointer;
        }
        .header2 .nav2 .menu #search_detail_btn {
         	flex-wrap: nowrap;
            position: relative;
            width: 65px;
            height: 40px;
   			border: 2px solid #405b7c;
         	margin-left: 25px;
         	border-radius:  5px;
         	/* right:5px; */
         	bottom:0.3px;
      		/*  align-items: center;
            justify-content: center;  */
         	background: #405b7c;
            color:white;
            cursor: pointer;
        }
        .header2 .nav2 .menu button[type=submit]:hover{
        	border-color : #667b96;
        	background: #667b96;
        }
        .header2 .nav2 .menu #search_detail_btn:hover{
        	border-color : #667b96;
        	background: #667b96;
        }